.filter {

  .genders {
    top: 126px;
    left: 150px;
  }

  .values {
    position: absolute;
    right: 64px;
    top: 215px;
    color: #ffffff;
    font-family: Avenir-Medium;
    font-size: 12px;
  }

  .slider {
    position: absolute;
    top: 222px;
    left: 68px;
    width: 241px;

  }

  .line {
    position: absolute;
    left: 68px;
    color: #ffffff;
    font-size: 16px;
    font-family: Avenir-Medium;
    width: 240px;
    transition: all 0.3s linear;

    &.disabled {
      span {
        opacity: 0.3;
      }
      &:before {
        opacity: 0.3;
      }
    }

    span {
      transition: all 0.3s linear;
    }

    &:before {
      display: inline-block;
      content: '';
      background-size: cover;
      vertical-align: top;
      margin-right: 14px;
      transition: all 0.3s linear;
    }

    .toggle {
      display: inline-block;
      right: 0;
    }
  }

  .talkline {
    top: 368px;

    &:before {
      height: 13px;
      width: 15px;
      background-image: url('../images/Icons/Chat.png');
    }

  }
  .flirtline {
    top: 415px;

    &:before {
      height: 15px;
      width: 16px;
      background-image: url('../images/Icons/Heart.png');
    }
  }
  .flashline {
    top: 463px;

    &:before {
      height: 15px;
      width: 9px;
      margin-right: 20px;
      background-image: url('../images/Icons/Bolt.png');
    }
  }
  .button_purple {
    position: absolute;
    bottom: 44px;
    left: 64px;
  }
}

.filter2 {


}