.login {
  position: relative;
  height: 667px;
  width: 100%;
  background-image: url('../images/Login/01_LogIn.png');
  background-size: cover;

  form {
    position: absolute;
    top: 336px;

    .username, .password {
      display: block;
      margin-left: 100px;
      margin-bottom: 26px;
      background: none;
      border: none;
      float: left;

      input {
        display: block;
        float: left;
      }
    }
  }

  .loginButton {
    position: absolute;
    height: 47px;
    width: 250px;
    bottom: 174px;
    left: 63px;
    background-image: url("../images/Login/Login_Button.png");
    background-size: cover;
    cursor: pointer;
  }

  .register {
    position: absolute;
    height: 20px;
    width: 84px;
    bottom: 36px;
    right: 87px;

  }
}