.profile_edit {

  height: 100%;
  width: 100%;
  background-image: url('../images/Profile/04_2_Edit_Profile.png');
  background-size: cover;

  a.button_purple {
    position: absolute;
    bottom: 43px;
    left: 62px;
  }
}
