<div class="filter">
    <img class="bg-app" src="/images/Register/05_1_Filter1.png" alt=""/>
    <div class="genders"><span class="female" toggle-class="disabled"></span><span class="male" toggle-class="disabled"></span></div>

    <span class="values">{{slider.min}} - {{slider.max}}</span>
    <rzslider class="slider" rz-slider-model="slider.min" rz-slider-high="slider.max" rz-slider-options="slider.options"></rzslider>

    <div class="talkline line" toggle-class="disabled"><span class="talk">Quatschen</span><div class="toggle talk" toggle-class="disabled"><div class="inner"></div></div></div>
    <div class="flirtline line" toggle-class="disabled"><span class="flirt">Flirten</span><div class="toggle flirt" toggle-class="disabled"><div class="inner"></div></div></div>
    <div class="flashline line" toggle-class="disabled"><span class="flash">Blitzen</span><div class="toggle flash" toggle-class="disabled"><div class="inner"></div></div></div>

    <a class="button_purple" href="#/search">Filter speichern</a>
</div>
