<div class="my_routes">
    <img class="bg-app" src="/images/08_MyRoutes.png" alt=""/>
    <div class="entrys">
        <div class="entry">
            <div class="toggle inverted" toggle-class="disabled"><div class="inner"></div></div>
            <div class="week">
                <span class="m" toggle-class="active"></span>
                <span class="d" toggle-class="active"></span>
                <span class="m" toggle-class="active"></span>
                <span class="d" toggle-class="active"></span>
                <span class="f" toggle-class="active"></span>
                <span class="s" toggle-class="active"></span>
                <span class="s" toggle-class="active"></span>
            </div>
        </div>
        <div class="entry">
            <div class="toggle inverted" toggle-class="disabled"><div class="inner"></div></div>
            <div class="week">
                <span class="m" toggle-class="active"></span>
                <span class="d" toggle-class="active"></span>
                <span class="m" toggle-class="active"></span>
                <span class="d" toggle-class="active"></span>
                <span class="f" toggle-class="active"></span>
                <span class="s" toggle-class="active"></span>
                <span class="s" toggle-class="active"></span>
            </div>
        </div>
        <div class="entry">
            <div class="toggle inverted disabled" toggle-class="disabled"><div class="inner"></div></div>
            <div class="week">
                <span class="m" toggle-class="active"></span>
                <span class="d" toggle-class="active"></span>
                <span class="m" toggle-class="active"></span>
                <span class="d" toggle-class="active"></span>
                <span class="f" toggle-class="active"></span>
                <span class="s" toggle-class="active"></span>
                <span class="s" toggle-class="active"></span>
            </div>
        </div>
    </div>
    <a class="button_purple" href="#/add_route">neue Route</a>

</div>